{% extends 'base.html' %}
{% block content %}

<div class="container-fluid">
    {% if msg %}
    <div class="alert alert-danger">
        {{ msg }}
    </div>
    {% endif %}
    <!-- Exportable Table -->
    <div class="row clearfix">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card">
                <div class="header">
                    <h2>
                        Tous les Produits
                    </h2>
                    <ul class="header-dropdown m-r--5">
                        <li class="dropdown">
                            <a href="{% url 'save_produit' %}"  class="btn btn-primary pull-right" >Ajouter Nouveau Produit</a>
                        </li>
                    </ul>
                    
                </div>
                <div class="body">
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped table-hover dataTable js-exportable">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Ref</th>
                                    <th>designation</th>
                                    <th>Prix</th>
                                    <th>Quantiter</th>
                                    <th>Marque</th>
                                    <th>Categorie</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tfoot>
                                <tr>
                                    <th>ID</th>
                                    <th>Ref</th>
                                    <th>designation</th>
                                    <th>Prix</th>
                                    <th>Quantiter</th>
                                    <th>Marque</th>
                                    <th>Categorie</th>
                                    <th>Action</th>
                                </tr>
                            </tfoot>
                            <tbody>
                                {% for fs in produit_list %}
                                <tr>
                                    <td>{{ fs.pk }}</td>
                                    <td>{{ fs.ref }}</td>
                                    <td>{{fs.designation}}</td>
                                    <td>{{fs.prix_achat}}</td>
                                    <td {% if fs.qte_stock <= fs.qte_stock_min %} style="background-color: #fb483a;color: aliceblue" {% else %}  style="background-color: #398439;color: aliceblue" {% endif %}>{{fs.qte_stock}}</td>
                                    <td>{{fs.marque.nom}}</td>
                                    <td>{{fs.category.nom}}</td>
                                    <td>
                                        <a href="{% url 'update_produit' fs.pk %}" class="btn btn-success btn-xs">Modifier</a>
                                        <a href="{% url 'save_entree' fs.pk %}" class="btn btn-primary btn-xs">Entree</a>
                                        <a href="{% url 'save_sortie' fs.pk %}" class="btn btn-danger btn-xs">Sortie</a>
                                    </td>
                                </tr>
                                {% endfor %}
                                
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- #END# Exportable Table -->
</div>

{% endblock content %}