{% extends "base.html" %}
{% block content %}
<div class="container-fluid">
   
    <!-- Basic Validation -->
    <div class="row clearfix">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card">
                <div class="header">
                    <h2>Ajouter Fornisseur</h2>
                   
                </div>
                <div class="body">
                    <form id="form_validation" method="POST" action="{% url 'create_fourniseur' %}" novalidate>
                        {% csrf_token %}
                        

                        <div class="form-group form-float">
                            <div class="form-line">
                                {{ form.nom }}
                                <label class="form-label">Nom</label>
                            </div>
                            {% if form.nom.errors %}
                            <label id="name-error" class="error" for="{{ form.nom.id_for_label }}">{{ form.nom.errors }}</label>
                            {% endif %}
                        </div>
                        <div class="form-group form-float">
                            <div class="form-line">
                                {{ form.prenom }}
                                <label class="form-label">Prenom</label>
                            </div>
                            {% if  form.prenom.errors%}
                            <label id="name-error" class="error" for="{{ form.nom.id_for_label }}">{{ form.prenom.errors }}</label>
                            {% endif %}
                        </div>
                        <div class="form-group form-float">
                            <div class="form-line">
                                {{ form.adresse }}
                                <label class="form-label">Adresse</label>
                            </div>
                            {% if  form.adresse.errors%}
                            <label id="name-error" class="error" for="{{ form.adresse.id_for_label }}">{{ form.adresse.errors }}</label>
                            {% endif %}
                        </div>
                        <div class="form-group form-float">
                            <b>Numéro de téléphone portable</b>
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="material-icons">phone_iphone</i>
                                </span>
                                <div class="form-line">
                                    {{form.tele}}
                                </div>
                                {% if  form.tele.errors%}
                                <label id="name-error" class="error" for="{{ form.tele.id_for_label }}">{{ form.tele.errors }}</label>
                                {% endif %}
                            </div>
                        </div>
                        <div class="form-group form-float">
                            <b>Numéro de téléphone fix</b>
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="material-icons">phone</i>
                                </span>
                                <div class="form-line">
                                    {{form.fix}}
                                </div>
                                {% if  form.fix.errors%}
                                <label id="name-error" class="error" for="{{ form.fix.id_for_label }}">{{ form.fix.errors }}</label>
                                {% endif %}
                            </div>
                        </div>
                        <div class="form-group form-float">
                            <div class="form-line">
                                {{ form.email }}
                                <label class="form-label">Email</label>
                            </div>
                            {% if  form.email.errors %}
                            <label id="name-error" class="error" for="{{ form.email.id_for_label }}">{{ form.email.errors }}</label>
                            {% endif %}
                        </div>
                        
                        <button class="btn btn-primary waves-effect" type="submit">Ajouter</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>


    

  
{% endblock content %}