{% extends 'base.html' %}
{% block content %}

<div class="container-fluid">
   
    <!-- Exportable Table -->
    <div class="row clearfix">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card">
                <div class="header">
                    <h2>
                        Tous les Client
                    </h2>
                    <ul class="header-dropdown m-r--5">
                        <li class="dropdown">
                            <a href="{% url 'save_client' %}"  class="btn btn-primary pull-right" >Ajouter Client</a>
                        </li>
                    </ul>
                </div>
                <div class="body">
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped table-hover dataTable js-exportable">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Nom</th>
                                    <th>Prenom</th>
                                    <th>Telephone</th>
                                    <th>Email</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tfoot>
                                <tr>
                                    <th>ID</th>
                                    <th>Nom</th>
                                    <th>Prenom</th>
                                    <th>Telephone</th>
                                    <th>Email</th>
                                    <th>Action</th>
                                </tr>
                            </tfoot>
                            <tbody>
                                {% for fs in list_client %}
                                <tr>
                                    <td>{{ fs.pk }}</td>
                                    <td>{{ fs.nom }}</td>
                                    <td>{{fs.prenom}}</td>
                                    <td>{{fs.tele}}</td>
                                    <td>{{fs.email}}</td>
                                    <td><a href="{% url 'update_client' fs.pk %}" class="btn btn-success btn-xs">Modifier</a></td>
                                </tr>
                                {% endfor %}
                                
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- #END# Exportable Table -->
</div>

{% endblock content %}