{% extends 'base.html' %}
{% load static stock_extra %}
{% block content %}

<div class="container-fluid">
    <!-- Exportable Table -->
    <div class="row clearfix">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card">
                <div class="header">
                    <div class="row">
                            <div class="col-md-3">
                                    <h2>
                                            Tous les Entrees
                                    </h2>
                            </div>
                            <div class="col-md-8">
                                <div class="row clearfix ">
                                        <form action="{% url 'list_entree' %}" method="POST" >
                                            <div class="col-md-6">
                                                {% csrf_token %}
                                                <select class="form-control show-tick" name="fournisseur" data-live-search="true">
                                                    <option value="">-- Please select fournisseur--</option>
                                                        {% for fr in fourniseur_list %}
                                                        <option {% if fr.pk == fourniseur %} selected {% endif %} value="{{ fr.id }}">{{ fr.nom }} {{ fr.prenom }} {{ fr.tele }}</option>
                                                        {% endfor %}
                                                </select>
                                            </div>
                        
                                                <div class="col-xs-4">
                                                    <div class="form-group">
                                                            <jamming-date>
                                                        <div class="form-line" id="bs_datepicker_container">
                                                            <input type="date" class="form-control" value="{{ date }}" name="date" placeholder="Please choose a date...">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-xs-2">
                                                    <button type="submit" class="btn btn-primary pull-right" >Filtrer</button>
                                                </div>
                                        </form>
                                        
                                </div>
                            </div>
                                <form action="{% url 'list_entree' %}" method="get" >
                                    <button type="submit" class="btn btn-danger " >Annuler</button>
                                </form>
                    </div>
                    
                </div>
                <div class="body">
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped table-hover dataTable js-exportable">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Date</th>
                                    <th>Quantité</th>
                                    <th>Fournisseur</th>
                                    <th>Prix d'achat</th>
                                    <th>Ref Produit</th>
                                    <th>Marque</th>
                                    <th>Categorie</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tfoot>
                                <tr>
                                    <th>ID</th>
                                    <th>Date</th>
                                    <th>Quantité</th>
                                    <th>Fournisseur</th>
                                    <th>Prix d'achat</th>
                                    <th>Ref Produit</th>
                                    <th>Marque</th>
                                    <th>Categorie</th>
                                    <th>Action</th>
                                </tr>
                            </tfoot>
                            <tbody>
                                {% for fs in entrees_list %}
                                <tr>
                                    <td>{{ fs.pk }}</td>
                                    <td>{{ fs.created_at|date:'Y-m-d H:i' }}</td>
                                    <td>
                                        <form action="{% url 'list_avoir_sortie_url' %}" method='POST'> 
                                            {% csrf_token %}
                                        {% get_total_avoir_entree_by_product fs as get_total_avoir %}
                                        {{get_total_avoir}} 
                                        </form>
                                    </td>
                                    <td>{{fs.fourniseur}}</td>
                                    <td>{{fs.prix_achat}}</td>
                                    <td>{{fs.produit.ref}}</td>
                                    <td>{{fs.produit.marque.nom}}</td>
                                    <td>{{fs.produit.category.nom}}</td>
                                    <td>
                                            <!-- <a href="{% url 'update_entree' fs.pk %}" class="btn btn-success btn-xs">Modifier</a> -->
                                            <a href="{% url 'save_avoir_sortie' fs.pk %}" class="btn btn-primary btn-xs">Avoir</a>
                                        <!-- <button type="button" data-color="red" data-toggle="modal" onclick="load_modal()" class="btn bg-red waves-effect btn-xs">Supprimer</button> -->
                                    </td>
                                </tr>
                                {% include 'entree/modal_supprimer.html' %}
                                {% endfor %}
                                
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- #END# Exportable Table -->
</div>

<script>
function load_modal()
{
    
    $('#mdModal').modal({
        show:true,
        backdrop:false,
        keyboard:false,
        focus: true
        });
    
}
</script>

{% endblock content %}