{% extends 'base.html' %}
{% block content %}

<div class="container-fluid">
    <!-- Exportable Table -->
    <div class="row clearfix">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card">
                <div class="header">
                    <div class="row">
                            <div class="col-md-3">
                                    <h2>
                                            Tous les Retours
                                        </h2>
                            </div>
                            <div class="col-md-9">
                                    <div class="row clearfix ">
                                            <form action="{% url 'retour_sortie_list' %}" method="get" >
                                                    <div class="col-md-6">
                                                    
                                                            <select class="form-control show-tick" name="client" data-live-search="true">
                                                                <option value="">-- Please select Client--</option>
                                                                    {% for fr in client_list %}
                                                                    <option value="{{ fr.id }}">{{ fr.nom }} {{ fr.prenom }} {{ fr.tele }}</option>
                                                                    {% endfor %}
                                                            </select>
                                                        </div>
                                                    <div class="col-xs-3">
                                                        <div class="form-group">
                                                                <jamming-date>
                                                            <div class="form-line" id="bs_datepicker_container">
                                                                <input type="date" class="form-control" name="date" placeholder="Please choose a date...">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-xs-3">
                                                        <button type="submit" class="btn btn-primary " >Filtrer</button>
                                                        <a href="{% url 'retour_sortie_list' %}" class="btn btn-danger">Annuler</a>
                                                    </div>
                                            </form>
                                            
                                    </div>
                                </div>
                                
                    </div>
                    
                </div>
                <div class="body">
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped table-hover dataTable js-exportable">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Date</th>
                                    <th>Quantiter</th>
                                    <th>Client</th>
                                    <th>Ref Produit</th>
                                    <th>Marque</th>
                                    <th>Categorie</th>
                                </tr>
                            </thead>
                            <tfoot>
                                <tr>
                                    <th>ID</th>
                                    <th>Date</th>
                                    <th>Quantiter</th>
                                    <th>Client</th>
                                    <th>Ref Produit</th>
                                    <th>Marque</th>
                                    <th>Categorie</th>
                                </tr>
                            </tfoot>
                            <tbody>
                                {% for fs in entrees_avoir_list %}
                                <tr>
                                    <td>{{ fs.pk }}</td>
                                    <td>{{ fs.created_at }}</td>
                                    <td>{{fs.qte_entree}}</td>
                                    <td>{{fs.sortie_avoir.client}}</td>
                                    <td>{{fs.produit.ref}}</td>
                                    <td>{{fs.produit.marque.nom}}</td>
                                    <td>{{fs.produit.category.nom}}</td>
                                    
                                </tr>
                                {% endfor %}
                                
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- #END# Exportable Table -->
</div>

<script>
function load_modal()
{
    
    $('#mdModal').modal({
        show:true,
        backdrop:false,
        keyboard:false,
        focus: true
        });
    
}
</script>

{% endblock content %}